* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  text-align: center;
}

p,
h2 span {
  font-family: Roboto, sans-serif;
  font-size: 9px;
  line-height: 13px;
}

h1,
h2,
h3 {
  color: #fafafa;
  font-family: Rubik, sans-serif;
}

header {
  background-color: #8c2775;
  border: #e6bb61 solid 1px;
  position: relative;
  padding: 4px;
  margin: 0 8px;
}

header h2 {
  font-size: 27px;
  line-height: 38px;
  font-weight: 700;
  margin: 0 auto;
  text-transform: uppercase;
}

header h2 span {
  color: rgba(225, 225, 225, 0.75);
  font-style: italic;
  display: inline;
  text-transform: capitalize;
  padding: 7px;
}

header .far {
  color: #e6bb61;
  position: absolute;
  font-size: 9px;
  line-height: 13px;
}

header .far:first-child {
  top: 2px;
  left: 2px;
}

header .far:nth-child(2) {
  top: 2px;
  right: 2px;
}

header .far:nth-child(3) {
  bottom: 2px;
  left: 2px;
}

header .far:nth-child(4) {
  bottom: 2px;
  right: 2px;
}

.five-stars .fa-star {
  color: #e6bb61;
  font-size: 9px;
  line-height: 13px;
  padding: 2.5px 10px;
  margin: 2.5px 10px;
}

#flex-container {
  background: url(../images/background.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  animation-name: panoramic-scroll;
  animation-direction: alternate;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: #0a0a0a;
  padding: 12px;
}

#head-brand {
  padding: 5px 2px 0 2px;
  margin: 5px 2px 0 2px;
}

@keyframes panoramic-scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

#home-anchor h1 {
  font-size: 36px;
  line-height: 50px;
  font-weight: 800;
  display: inline;
  margin: 0 auto;
  white-space: nowrap !important;
  overflow: hidden !important;
  -o-text-overflow: ellipsis !important;
  text-overflow: ellipsis !important;
}

#home-anchor h1 span:first-child {
  display: inline-block;
  animation-name: title-scroll;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  padding-left: 100%;
  animation-direction: alternate;
}

@keyframes title-scroll {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media (min-width: 400px) {
  header h2 span {
    display: block;
    padding: 7px;
  }
}

@media (min-width: 480px) {
  p,
  h2 span {
    font-size: 12px;
    line-height: 18px;
  }

  header {
    border: #e6bb61 solid 4px;
    padding: 8px;
    margin: 0 16px;
  }

  header h2 {
    font-size: 36px;
    line-height: 51px;
  }

  header .far {
    font-size: 12px;
    line-height: 18px;
  }

  header .far:first-child {
    top: 5px;
    left: 5px;
  }

  header .far:nth-child(2) {
    top: 5px;
    right: 5px;
  }

  header .far:nth-child(3) {
    bottom: 5px;
    left: 5px;
  }

  header .far:nth-child(4) {
    bottom: 5px;
    right: 5px;
  }

  .five-stars .fa-star {
    font-size: 12px;
    line-height: 18px;
    padding: 5px 12px;
    margin: 5px 12px;
  }

  #flex-container {
    padding: 24px;
  }

  #head-brand {
    padding: 10px 5px 0 5px;
    margin: 10px 5px 0 5px;
  }

  #home-anchor h1 {
    font-size: 48px;
    line-height: 67px;
  }
}

@media (min-width: 600px) {
  header {
    margin: 0 auto;
    width: 520px;
  }

  #home-anchor h1 span:first-child {
    animation: none;
    padding: 0;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  p,
  h2 span {
    font-size: 15px;
    line-height: 22px;
  }

  header {
    border: #e6bb61 solid 6px;
    padding: 16px;
    margin: 0 auto;
    width: 700px;
  }

  header h2 {
    font-size: 45px;
    line-height: 64px;
  }

  header .far {
    font-size: 15px;
    line-height: 22px;
  }

  header .far:first-child {
    top: 10px;
    left: 10px;
  }

  header .far:nth-child(2) {
    top: 10px;
    right: 10px;
  }

  header .far:nth-child(3) {
    bottom: 10px;
    left: 10px;
  }

  header .far:nth-child(4) {
    bottom: 10px;
    right: 10px;
  }

  .five-stars .fa-star {
    font-size: 15px;
    line-height: 22px;
    padding: 5px 20px;
    margin: 5px 20px;
  }

  #desktop-wrapper {
    background-image: url(../images/steel-cage.png);
    background-color: #0a0a0a;
  }

  #flex-container {
    margin: 0 10%;
    animation: none;
    padding: 48px;
  }

  #head-brand {
    padding: 12px 8px 0 8px;
    margin: 12px 8px 0 8px;
  }

  #home-anchor h1 {
    font-size: 60px;
    line-height: 84px;
  }
}

@media (min-width: 2560px) {
}

@media (min-width: 3840px) {
}
